<h1>
  List of all gameplayers
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new gameplayer
    </h2>
  </header>

  <form action="/insert_gameplayer" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="game_id_box">
        Game
      </label>

      <input type="text" id="game_id_box" name="query_game_id">
    </div>

    <div>
      <label for="seat_number_box">
        Seat number
      </label>

      <input type="text" id="seat_number_box" name="query_seat_number">
    </div>

    <div>
      <label for="score_box">
        Score
      </label>

      <input type="text" id="score_box" name="query_score">
    </div>

    <div>
      <label for="hand_cards_box">
        Hand cards
      </label>

      <input type="text" id="hand_cards_box" name="query_hand_cards">
    </div>

    <button type="submit">
      Create gameplayer
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_gameplayers.each do |a_gameplayer| %>
      <li>
        <a href="/gameplayers/<%= a_gameplayer.id %>">
          Gameplayer #<%= a_gameplayer.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
