<h1>
  List of all moves
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new move
    </h2>
  </header>

  <form action="/insert_move" method="post">
    <div>
      <label for="game_id_box">
        Game
      </label>

      <input type="text" id="game_id_box" name="query_game_id">
    </div>

    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="move_number_box">
        Move number
      </label>

      <input type="text" id="move_number_box" name="query_move_number">
    </div>

    <div>
      <label for="card_player_box">
        Card player
      </label>

      <input type="text" id="card_player_box" name="query_card_player">
    </div>

    <div>
      <label for="captured_cards_box">
        Captured cards
      </label>

      <input type="text" id="captured_cards_box" name="query_captured_cards">
    </div>

    <div>
      <label for="basra_box">
        Basra
      </label>

      <input type="text" id="basra_box" name="query_basra">
    </div>

    <div>
      <label for="points_earned_box">
        Points earned
      </label>

      <input type="text" id="points_earned_box" name="query_points_earned">
    </div>

    <button type="submit">
      Create move
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_moves.each do |a_move| %>
      <li>
        <a href="/moves/<%= a_move.id %>">
          Move #<%= a_move.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
