<h1>
  Basra
</h1>

<hr>

<article>
  <header>
    <h2>
      Start a new Game
    </h2>
  </header>

    <form action="/insert_game" method="post">
    <button type="submit">
      Start game
    </button>
  </form>

<hr>

<article>
  <ul>
    <% @list_of_games.each do |a_game| %>
      <li>
        <a href="/games/<%= a_game.id %>">
          Game #<%= a_game.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
