<h1>Join a Game</h1>

<article>
  <% if alert.present? %>
    <p style="color: red;"><%= alert %></p>
  <% end %>

  <form action="/join_game" method="post">
    <div>
      <label for="room_code_box">Enter room code</label>
      <input type="text" id="room_code_box" name="query_room_code">
    </div>

    <button type="submit">Join Game</button>
  </form>
</article>

<article>
  <h2>Spectate Games</h2>
  <p>To join game as a player, enter the room code above. 
    Below is a list of active games you can spectate (You cannot join a game that has already started).</p>
  <ul>
    <% @list_of_games.each do |a_game| %>
      <li>
        <a href="/games/<%= a_game.id %>">
          <% if a_game.name.present? %>
            <%= a_game.name %>
          <% else %>
            Game #<%= a_game.id %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</article>
