<h1>
  Welcome to Basra
</h1>

<article>
    <div>
      <a href="/games">
        Create a Game
      </a>
    </div>

    <div>
      <a href="/join">
        Join a Game
      </a>
    </div>

    <div>
      <a href="/rules">
        Learn the Rules
      </a>
    </div>
</article>
